/*F5F4FA 
#89cb31 #75ad2a*/

body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #fff;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
address {
  font-style: normal;
  margin-top: 20px;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* section */
.section {}
.section-hero {}
/* container */
.header {
  background-color: #fff;
}
.container {
width: 1200px;
padding: 0 15px;
margin: 0 auto;
}


/* header */


/* 1 floor */


.first-floor {
  background-color: #212121; 
}
.first-floor-list {
  display: flex;
  margin-left: 880px;
}
.first-floor-item:not(:last-child) {
  margin-right: 20px;
}
.first-floor-link {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 18px;
  font-weight: 400px;
  color: #fff;
}
.first-floor-login {
  padding: 5px 10px;
  background-color: #75ad2a;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 18px;
  font-weight: 400px;
  color: #212121;
}
.first-floor-link:hover,
.first-floor-link:focus {
  color: #75ad2a;
}
.first-floor-login:hover,
.first-floor-login:focus {
  background-color: #fff;

}

/* 2 floor */


.second-floor-container {
display: flex;
align-items: center;
}
.second-floor-list {
  display: flex;
  position: relative;
  background-color: #fff;
}
.second-floor-item:not(:last-child) {
  margin-right: 40px;
}
.nav-link {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 23px;
  font-weight: 400px;
  color: #212121;
}
.nav-link:focus,
.nav-link:hover {
  color: #89cb31;
}

/* Submenu */


.menu {
  background-color: #fff;
  position: absolute;
  display: none;
  left: 0%;
  top: 100%;
  border-top: 4px solid #89cb31;
}
.menu-container {
  width: 630px;
  height: 510px;
  padding: 0 20px;
  margin: 0;
}
.submenu-container {
  display: flex;
  margin-top: 30px;
}
.submenu-list {
  margin-top: 15px;
}
.submenu-item {
  margin-top: 15px;
  margin-left: 10px;
}
.submenu-left {
  padding: 0 15px;
  position: relative;
  border: 1px solid #eeeeee;
  box-shadow: 0 3px 20px rgba(0,0,0, .25), 
  inset 0 2px 0 rgba(255, 255, 255, .06),
  0 2px 0 rgba(0,0,0,.1), inset 00 20px rgba(0,0,0,.1);
  width: 300px;
  height: 330px;
}
.submenu-link:hover,
.submenu-link:focus {
  color: #89cb31;
}
.submenu-right {
  padding: 0 15px;
  margin-left: 15px;
  position: relative;
  border: 1px solid #eeeeee;
  box-shadow: 0 3px 20px rgba(0,0,0, .25), 
  inset 0 2px 0 rgba(255, 255, 255, .06),
  0 2px 0 rgba(0,0,0,.1), inset 00 20px rgba(0,0,0,.1);
  width: 300px;
  height: 330px;
}
.submenu-title {
  font-family: 'Russo One', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  font-size: 19px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  width: max-content;
  text-align: left;
  color: #212121;
}
.laptop {
  width: 150px;
  height: 100px;
}
.submenu-black {
  background-color: #212121;
}
.submenu-link {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  margin-top: 10px;
  font-size: 17px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  width: 270px;
  text-align: left;
  color: #212121; 
}
.submenu-text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  margin-top: 10px;
  padding-bottom: 6px;
  font-size: 17px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  width: 270px;
  text-align: left;
  color: #fff; 
}
.submenu-title-width {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  font-size: 22px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  width: 100px;
  text-align: left;
  color: #fff;
}
.menu-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  width: 100px;
  text-align: left;
  color: #212121;
}
.menu-text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  width: 600px;
  text-align: left;
  color: #212121; 
}
.second-floor-item:hover .menu,
.second-floor-item:focus .menu {
  display: block;
}


/* hero */


.hero {
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
    to left,
    rgba(47, 48, 58, 0.6),
    rgba(47, 48, 58, 0.6)
  ), url(../img/3.jpeg);
  background-size: cover;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}
.container-hero {
  display: flex;
}
.hero-title {
  font-family: 'Russo One', sans-serif;
  font-weight: 900px;
  font-size: 59px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 530px;
  text-align: left;
  color: #fff;
}
.hero-text {
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight: 100px;
  font-size: 21px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
  width: 430px;
  text-align: left;
  color: #fff;
}
.modal-animation {
  display: flex;
}
.find-transaction-title {
  font-family: 'Russo One', sans-serif;
  font-weight: 900px;
  font-size: 32px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 430px;
  text-align: right;
  color: #fff;
}
.find-transaction-text {
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight: 100px;
  font-size: 22px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
  width: 380px;
  text-align: Left;
  color: #fff;
}
.find-list {
  display: flex;
}
.find-tumb {
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight: 100px;
  font-size: 22px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  background-color: silver;
  margin-top: 20px;
  border-radius: 4px;
  width: 260px;
  height: 40px;
}
.buttom {
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 5px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  margin-top: 20px;
  padding: 6px 8px;
  cursor: pointer;
  background: #89cb31;
  color: #fff;
  height: 40px;
}
.buttom:focus,
.buttom:hover {
  color: #212121;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden .modal {
  transform: translate(200%) scale(2);
}
.modal {
  position: absolute;
  min-width: 928px;
  min-height: 581px;
  background: #fff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(04., 0, 0.2, 1);
}
.close-modal {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  position: absolute;
  margin: 0;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-flex {
  display: flex;
}
.modal-img {
  margin-right: 20px;
  margin-left: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
    to left,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ), url(../img/modalimg.jpg);
  background-size: cover;
  max-width: 600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
  width: 464px;
  height: 581px
}
.modal-img-text {
  margin-left: 40px;
  font-family: 'Russo One', sans-serif;
  font-weight: 900px;
  font-size: 38px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 360px;
  text-align: center;
  color: #fff;
}

.modal-animation {
  margin-left: auto;
  margin-top: auto;
}
.transfer-info {
  width: 462px;
  padding: 0;
  margin: 0;
}
.container-transfer {
  padding: 20px 0;
  width: 450px;
  box-shadow: 0 3px 20px rgba(0,0,0, .25), 
  inset 0 2px 0 rgba(255, 255, 255, .06),
  0 2px 0 rgba(0,0,0,.1), inset 00 20px rgba(0,0,0,.1);
}
.transfer-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900px;
  font-size: 28px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin: 0 20px;
  width: 360px;
  color: #212121;
}
.container-transfer {
  display: flex;
  margin-top: 30px;
}
.transfer-info-item-1:not(:last-child) {
  margin-bottom: 30px;
}
.transfer-info-item-2:not(:last-child) {
  margin-bottom: 35px;
}
.transfer-info-text-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900px;
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  width: 250px;
  color: #212121;
}
.transfer-info-text-2 {
  font-family: 'Brygada 1918', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  width: 200px;
  color: #555454;
}
.trasfer-button {
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 4px;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.62;
  text-align: center;
  border: none;
  margin-top: 35px;
  padding: 6px 8px;
  cursor: pointer;
  background: #89cb31;
  color: #fff;
  height: 40px;
}
.trasfer-button:focus,
.trasfer-button:hover {
  color: #212121;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.svg-close {
  fill: #212121;
}
.svg-close:focus,
.svg-close:hover {
  fill: #89cb31;
}



/* business */


.section-business {
  background-color: #eeeeee;
  padding-top: 74px;
  padding-bottom: 74px;
}
.home-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.business-list {
  display: flex;
}
.business-container {
  position: relative;
  text-align: center;
  margin-top: 40px;
  width: 270px;
  height: 310px;
  background-color: #fff;
}
.business-item-container {
  padding: 25px 10px;
  width: 270px;
  height: 220px;
}
.business-item:not(:last-child) {
  margin-right: auto;
}
.business-title {
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.business-text {
  font-family: 'Arial';
  margin-top: 15px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
}
.business-button {
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 2px;
  align-items: center;
  margin: 0;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.62;
  text-align: center;
  border: 3px solid #75ad2a;
  padding: 10px 35px;
  cursor: pointer;
  background: #89cb31;
  color: #fff;
}
.business-button:hover,
.business-button:focus {
  color: #212121;
  background-color: #eeeeee;
  border: 3px solid #555454;
}


/* life */

.section-life {
  padding-top: 80px;
}
.home-text {
  margin-top: 30px;
  font-size: 19px;
  letter-spacing: 0.03em;
}
.container-life {
  display: flex;
  margin-top: 60px;
}
.container-life-item {
  height: 450px;
  width: 600px;
}
.container-img1 {
  height: 120px;
  width: 600px;
}
.container-img2 {
  height: 120px;
  width: 600px;
}
.life-list {
  display: flex;
}
.life-item1 {
  margin-right: 10px;
  margin-left: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
    to left,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ), url(../img/job1.jpeg);
  background-size: cover;
  max-width: 600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}
.life-img1 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  background-color: #2f303a;
  background-image: linear-gradient(
    to left,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ), url(../img/job2.jpeg);
  background-size: cover;
  max-width: 600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0; 
}
.life-img2 {
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
    to left,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ), url(../img/job3.png);
  background-size: cover;
  max-width: 600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}
.life-button {
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 2px;
  align-items: left;
  margin: 0;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.62;
  border: 3px solid #75ad2a;
  padding: 10px 35px;
  cursor: pointer;
  background: #89cb31;
  color: #fff;
}
.life-button:hover,
.life-button:focus {
  color: #212121;
  background-color: #eeeeee;
  border: 3px solid #555454;
}
.life-title1 {
  font-size: 28px;
  padding-top: 430px;
  color: #fff;
}
.life-title {
  font-size: 28px;
  padding-top: 110px;
  color: #fff;
}


/* corona */
.section-corona {
  background-color: #eeeeee;
  margin: 0;
  padding: 0 15px;
}
.container-corona {
  display: flex;
  margin-top: 50px;
  padding: 65px 15px;
}
.corona-list {
  display: flex;
}
.corona-container-item {
  margin: 0 auto;
  padding: 0 15px;
  margin-right: 75px;
  margin-bottom: 94px;
  width: 350px;
  height: 420px;
  border: 5px solid #555454;
  background-color: #fff;
}
.corona-container-item1 {
  padding: 0 15px;
  margin-bottom: 94px;
  width: 350px;
  height: 420px;
  border: 5px solid #555454;
  background-color: #eee;
}
.corona-cont {
  width: 320px;
  height: 350px;
  padding-top: 20px;
}
.corona-title {
  font-weight: bold;
  font-size: 29px;
  line-height: 42px;
  text-align: left;
  letter-spacing: 0.03em;
  margin-right: auto;
}
.corona-button {
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 2px;
  align-items: 70px;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.62;
  border: 3px solid #89cb31;
  padding: 7px 25px;
  cursor: pointer;
  background: #fff
  color: #212121;
}
.corona-button:hover,
.corona-button:focus {
  color: #89cb31;
}
.corona-percent {
font-size: 43px;
margin-top: 30px;
}


/* footer */

footer {
  background-color: #212121;
  padding: 60px 0;
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.logo-white {
  color: #fff;
}
.cont-link-fa {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cont-link-fa:focus,
.cont-link-fa:hover {
  color: #fff;
}
.cont-link-f {
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cont-link-f:focus,
.cont-link-f:hover {
  color: #fff;
}

.nav-item-f:not(:last-child) {
  margin-bottom: 9px;
}
.social-heading-footer {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
}
.footer-social {
  margin-left: 70px;
}

.footer-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-socials-item {
  padding: 0;
  align-items: center;
  border-radius: 50%;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 10%),
    rgba(255, 255, 255, 10%)
  );
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-image: linear-gradient(
    to left,
    #fff,
    #fff
  );
}

.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  fill: #fff;
}
